In [2]:
import numpy as np 
import pandas as pd 
from sklearn.linear_model  import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score

In [66]:
# loding data 
mail_data = pd.read_csv('/content/mail_data - mail_data.csv' )

In [20]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [21]:
mail_data.shape

(5572, 2)

In [22]:
mail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [59]:
# replacing Nan Values 
#mail_data = mail_data.where((pd.notnull(mail_data)),'')
#mail_data= mail_data.fillna('' , inplace = True)

Label Encoding

In [67]:
mail_data.loc[mail_data['Category'] == 'spam' , 'Category' ] = 0 
mail_data.loc[mail_data['Category'] == 'ham' , 'Category' ] = 1

In [61]:
mail_data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

Separating the data

In [68]:
X = mail_data['Message']
y = mail_data['Category']

In [69]:
X_train , X_test , y_train , y_test = train_test_split(X, y ,train_size = 0.2 , shuffle=True , random_state=3
                                                       )

In [70]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(1114,)
(4458,)

Feature Extraction

In [71]:

#Transforming the text data to feature vectors 

feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')


X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# convert y_train and y_test as integers 

y_train = y_train.astype('int')
y_test = y_test.astype('int')

Training the Model

In [72]:
model = LogisticRegression()

In [73]:
model.fit(X_train_features , y_train)

LogisticRegression()

Model Evaluating

In [95]:
model_training_prediction = model.predict(X_train_features)
train_accuracy = accuracy_score(  y_train  , model_training_prediction  )
print ('Training Accuracy = ' + str(train_accuracy * 100 ) + ' %')

Training Accuracy = 91.65170556552962 %

In [98]:
model_testing_prediction = model.predict(X_test_features)
test_accuracy = accuracy_score(  y_test , model_testing_prediction  )
print ('Testing Accuracy = ' + str(test_accuracy * 100 ) + ' %')

Testing Accuracy = 90.42171377299238 %

Building a prediction System

In [101]:
input_mail = ["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times"]

# convert text to feature vector 
input_data_features = feature_extraction.transform(input_mail) 


prediction = model.predict(input_data_features)

if (prediction[0]==1):
  print('Ham mail')

else:
  print('Spam mail')

Ham mail